<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Setor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container-principal">
        <h1>Cadastrar Setor</h1>
        <a href="{{ url_for('paginas.home') }}">
            <button>Voltar</button>
        </a>
        <br>
        <div class="cadastro">

            <form method="POST" action="{{ url_for('cadastrar_setor.salvar_setor') }}" class="form-cadastro">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>

                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" rows="4" required></textarea>

                <label for="ativo">Ativo:</label>
                <select id="ativo" name="ativo" required>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>

                <button type="submit">Salvar</button>
            </form>
        </div>


        <div class="resultado">
            <h2>Setores Cadastrados</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for setor in setores %}
                        <tr>
                            <td>{{ setor.IdSetor }}</td>
                            <td>{{ setor.Nome }}</td>
                            <td>{{ setor.Descricao }}</td>
                            <td>{{ 'Sim' if setor.Ativo else 'Não' }}</td>
                            <td>
                                <a href="{{ url_for('cadastrar_setor.editar_setor', id_setor=setor.IdSetor) }}">
                                    <button>Editar</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Exibir mensagens flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id="toast" class="toast">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </div>
</body>
</html>