<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container-principal">
    <h1>Editar Cliente</h1>
    <a href="{{ url_for('cadastrar_cliente.cadastrar_cliente') }}">
        <button>Voltar</button>
    </a>
    <br><br>

    <form method="POST" action="{{ url_for('cadastrar_cliente.salvar_edicao_cliente', id_cliente=cliente.IdCliente) }}">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ cliente.Nome }}" required>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="4" required>{{ cliente.Descricao }}</textarea>

        <label for="ativo">Ativo:</label>
        <select id="ativo" name="ativo" required>
            <option value="1" {% if cliente.Ativo == 1 %}selected{% endif %}>Sim</option>
            <option value="0" {% if cliente.Ativo == 0 %}selected{% endif %}>Não</option>
        </select>

        <button type="submit">Salvar Alterações</button>
    </form>

    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div id="toast" class="toast">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </div>
</body>
</html>